<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Escuela Barrial Coilaco 2021</title>
  <meta content="Formulario Oficial de inscripción para la Escuela Barrial 2021 Coilaco, Temuco." name="description">
  <meta content="coilaco, coilaco temuco, club deportivo coilaco" name="keywords">

  <!-- Media Tags-->
  <meta property="og:title" content="Club Deportivo Coilaco">
  <meta property="og:description" content="Apóyanos con tu firma aquí. NO nos oponemos a las mejoras educativas.">
  <meta property="og:image" content="https://www.coilaco.cl/img/coilaco.jpg">
  <meta property="og:url" content="https://www.coilaco.cl/">  
  <meta property="og:site_name" content="Club Deportivo Coilaco">
  <meta name="twitter:title" content="Club Deportivo Coilaco">
  <meta name="twitter:image:alt" content="Apóyanos con tu firma aquí. NO nos oponemos a las mejoras educativas.">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
 <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            coilaco.cl
        </div>

        <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li><a href="/" class="scrollto">Inicio</a></li>
            <li class="active"><a href="/escuela-barrial-coilaco-2021" class="scrollto">Escuela 2021</a></li>
            <li><a href="/#problem" class="scrollto">Problemática</a></li>
            <li class=""><a href="/#about" class="scrollto">¿Por qué debería apoyar?</a></li>
            <li class=""><a href="/#contact" class="scrollto">Apóyanos con tu firma</a></li>
            <li><a href="/#users" class="scrollto">Listado de firmas</a></li>
            <li><a href="https://www.facebook.com/100004313174414/videos/1680826142071142/" target="_blank">🎥 Microdocumental</a></li>
        </ul>
        </nav><!-- .nav-menu -->
    </div>
  </header>

    <!-- ======= Contact Section ======= -->
    <section id="inscriptions" class="contact">
      <div class="container">

        <div class="row">
          <div class="col-lg-8 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <div class="section-title" data-aos="fade-up">
                <h2>⚽ Escuela Barrial Coilaco 2021</h2>
                <img width="330" src="img/coilaco.jpg" class="img-fluid " alt="Club Deportivo Coilaco Temuco">
              </div>
              <h3>Inicio de las clases</h3>
              <p>Lunes 11 de enero del año 2021.</p>

              <h3>Valor</h3>
              <ul>
                <li>Gratuito.</li>
              </ul>

              <h3>Restricciones</h3>
                <ul>
                    <li>Las clases serán impartidas por profesionales del área de la actividad física.</li>
                    <li>20 Horas semanales.</li>
                    <li>8 Semanas en total.</li>
                    <li>10 personas por grupo.</li>
                    <li>5 grupos.</li>
                    <li>Mayores de 18 años (Covid-19).</li>
                    <li>Se podrán elegir hasta 3 opciones de las disponibles.</li>
                </ul>

            <p>Completa el siguiente formulario para inscribirte en la Escuela Barrial Coilaco 2021. Todos los campos son requeridos:</p>

            <form action="/inscriptions" method="post" role="form" id="inscriptions" class="php-email-form">
              <div class="form-group">
                <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Dejanos tu nombre completo" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="dni" id="dni" placeholder="Dejanos tu RUT, sin puntos y con guión. Ej: 1555555-5" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="phone" class="form-control" name="phone" id="phone" placeholder="Dejanos tu teléfono" />
                <div class="validate"></div>
              </div>                            
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Dejanos tu correo electrónico" />
                <div class="validate"></div>
              </div>

              <div class="form-group">
                <select id="player" class="form-control">
                  <option value="">Seleccione el perfíl del postulante</option>
                  <option value="Jugador">Jugador de cancha</option>
                  <option value="Arquero">Arquero</option>
                </select>
              </div>

              <div class="form-group inscriptions-checkbox">
                  <p><strong>Selecciona el o los horarios deseados: (Máximo 3)</strong></p>
                  <%if (lunes <= 10) { %><p><label for="lunes"><input class="horario" id="lunes" type="checkbox" name="option" value="lunes"> Lunes 10:00 – 12:00 y 18:30 – 20:30 <small>Cupos disponibles <%= 10 - lunes %></small></label></p><% } %>
                  <%if (martes <= 10) { %><p><label for="martes"><input class="horario" id="martes" type="checkbox" name="option" value="martes"> Martes 10:00 – 12:00 y 18:30 – 20:30 <small>Cupos disponibles <%= 10 - martes %></small></label></p><% } %>
                  <%if (miercoles <= 10) { %><p><label for="miercoles"><input class="horario" id="miercoles" type="checkbox" name="option" value="miercoles"> Miércoles 10:00 – 12:00 y 18:30 – 20:30 <small>Cupos disponibles <%= 10 - miercoles %></small></label></p><% } %>
                  <%if (jueves <= 10) { %><p><label for="jueves"><input class="horario" id="jueves" type="checkbox" name="option" value="jueves"> Jueves 10:00 – 12:00 y 18:30 – 20:30 <small>Cupos disponibles <%= 10 - jueves %></small></label></p><% } %>
                  <%if (viernes <= 10) { %><p><label for="viernes"><input class="horario" id="viernes" type="checkbox" name="option" value="viernes"> Viernes 10:00 – 12:00 y 18:30 – 20:30 <small>Cupos disponibles <%= 10 - viernes %></small></label></p><% } %>
              </div>

              <div class="text-center"><button type="submit">Deseo inscribirme</button></div>
            </form>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
                <br /><br />

                <h3>¿Dudas, Consultas?</h3>
                <br />
                <div>
                  <i class="ri-map-pin-line"></i>
                  <p>Carrera con Balmaceda a los pies del Cerro Ñielol.</p>
                </div>
  
                <div>
                  <i class="ri-mail-send-line"></i>
                  <p>cdcoilacotemuco@gmail.com</p>
                </div>
                
                <div>
                  <i class="ri-phone-line"></i>
                  <p><a href="tel:+56947132182">+56 9 4713 2182</a></p>
                </div>

                <div>
                    <i class="ri-phone-line"></i>
                    <p><a href="tel:+56972996695">+56 9 7299 6695</a></p>
                  </div>

                  <div>
                    <i class="ri-phone-line"></i>
                    <p><a href="tel:+56977744806">+56 9 77744806</a></p>
                  </div>
              </div>
              
              <div class="social-links">
                <a href="https://www.facebook.com/clubdeporcoilaco" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/cd_coilaco/" class="instagram" target="_blank"><i class="icofont-instagram"></i></a>
              </div>

              <div style="text-align:center" >
                <h3>Apoyado por</h3>
                <p>Gobierno Regional de La Araucanía: FNDR</p>
            </div>

          </div>
        </div>
        
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


<section id="location" class="d-flex align-items-center">
  <div class="container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d778.1031729677076!2d-72.59603351182851!3d-38.731290998718535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzjCsDQzJzUyLjciUyA3MsKwMzUnNDMuOCJX!5e0!3m2!1ses-419!2scl!4v1603919262582!5m2!1ses-419!2scl" width="100%" height="250" frameborder="0" style="border:0;margin-bottom:20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</section><!-- End Hero -->

  <%- include('footer.ejs') %>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/counterup/counterup.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/moment/moment.js"></script>
  <script src="vendor/moment/timezone.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

   <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=251090641"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '251090641');
  </script>

</body>

</html>